<% content_for :title, "Passkeys" %>
<div class="panel-kfm" style="max-width: 40rem; margin: 0 auto;">
  <div class="panel-kfm-title">Your Passkeys</div>
  <%= render "manager", credentials: @credentials %>
</div>
