<% content_for :title, "#{@fight.challenger.name} vs #{@fight.opponent.name} — Kung Fu Madness" %>

<div class="panel-kfm">
  <div class="panel-kfm-title">
    <%= @fight.challenger.name %> vs <%= @fight.opponent.name %>
  </div>
  <div
    data-svelte-component="FightPlayback"
    data-props="<%= { fight: @payload, reveal: @reveal }.to_json %>"
  ></div>
</div>
